@{
    var FirstName = "Nicole";
    var LastName = "Oraya";
    var Birthday = "June 27 2002";
    var TryDate = DateTime.Parse(Birthday);
    var IsTenured = false;
    var SalaryPerHour = 500;
    var Email = "nicole.oraya.cics@ust.edu.ph";
    var Age = DateTime.Now.Year - TryDate.Year;
    var salaryPerDay = SalaryPerHour * 8;
    var salaryPerMonth = salaryPerDay * 30;

    if (IsTenured)
    {
        salaryPerMonth += 500;
    }

    var Name = "Nicole E. Oraya";
    var PrelimGrade = 92;
    var FinalGrade = 90;
    var SemGrade = (PrelimGrade + FinalGrade) / 2;
    var Transmuted = 0.0;

    if (SemGrade < 75)
    {
        Transmuted = 5.00;
    }
    else if (SemGrade >= 75 && SemGrade <= 78)
    {
        Transmuted = 3.00;
    }
    else if (SemGrade >= 79 && SemGrade <= 81)
    {
        Transmuted = 2.75;
    }
    else if (SemGrade >= 82 && SemGrade <= 83)
    {
        Transmuted = 2.50;
    }
    else if (SemGrade >= 84 && SemGrade <= 86)
    {
        Transmuted = 2.25;
    }
    else if (SemGrade >= 87 && SemGrade <= 88)
    {
        Transmuted = 2.00;
    }
    else if (SemGrade >= 89 && SemGrade <= 91)
    {
        Transmuted = 1.75;
    }
    else if (SemGrade >= 92 && SemGrade <= 93)
    {
        Transmuted = 1.50;
    }
    else if (SemGrade >= 94 && SemGrade <= 95)
    {
        Transmuted = 1.25;
    }
    else
    {
        Transmuted = 1.00;
    }
}

<div class="d-flex justify-content-center align-items-start gap-4">
    <div class="text-center">
        <p class="h4 fw-bold">A. Sample Output</p>
        <p>I'm @FirstName @LastName and I'm @Age years old.</p>
    </div>

    <div class="text-center">
        <p class="h4 fw-bold">B. Sample Output</p>
        <p>Email: @Email</p>
        <p>Domain: @Email.Substring(17)</p>
        <p>Username: @Email.Substring(0,17)</p>
    </div>

    <div class="text-center">
        <p class="h4 fw-bold">C. Sample Output</p>
        <p>Name</p>
        <p>Email: @Email</p>
        <p>Status: @IsTenured</p>
        <p>Daily Salary: @salaryPerDay</p>
        <p>Monthly Salary: @salaryPerMonth</p>
    </div>

    <div class="text-center">
        <p class="h4 fw-bold">D. Sample Output</p>
        <p>Name: @Name</p>
        <p>Prelim: @PrelimGrade</p>
        <p>Final: @FinalGrade</p>
        <p>Semestral Grade: @SemGrade</p>
        <p>Transmuted Grade: @Transmuted</p>
    </div>
</div>
